[Unit]
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
User=root
Group=root
WorkingDirectory=/root/highlights
ExecStart=/root/highlights/venv/bin/python <html> <json>
